# Google Maps`

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = ""



#Credenciales de DB Supabase local:

# 1. Abrir Supabase Studio: http://127.0.0.1:54323/project/default

# 2. NEXT_PUBLIC_SUPABASE_URL y NEXT_PUBLIC_SUPABASE_ANON_KEY se encuentran en: Connect -> App Frameworks -> .env.local
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=


# 3. NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY se encuentra en: Clickear el icono Profile (arriba a la derecha) -> Command menu -> Get API Keys -> Copy service API Key 
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=